<div fxLayout="column" class="import-distribution-wrapper">
  <mat-toolbar color="primary">
    <h3 fxFlex>{{isBatchMerge?'Batch Merge':'Import Distribution'}}</h3>
    <button mat-button mat-dialog-close>
      <i class="mdi mdi-close mdi-24px"></i>
    </button>
  </mat-toolbar>
  <mat-dialog-content mat-dialog-content fxLayout="column" fxLayoutAlign="start stretch" fxFlexFill>
    <div fxLayout="row" fxLayoutGap="15px" fxFlexFill>
      <div fxFlex="64" fxFlexFill>
        <app-import-distribution-treeview></app-import-distribution-treeview>
      </div>
      <div fxFlex="36" class="result-view" fxFlexFill>
        <div fxLayout="column">
          <h3>Matched Nodes</h3>
          <div fxLayout="column" fxFlexOffset="10px" class="selected-nodes">
            <div fxLayout="row" fxLayoutAlign="center center" class="mt-20" *ngIf="matchedNodes.length<1">
              <h4> None Selected Yet</h4>
            </div>
            <div [fxHide]="!(matchedNodes.length>0)" fxLayout="column" fxLayoutAlign="start stretch" fxFlexFill>
              <div fxLayout="row" fxFlex="18px">
                <div fxLayout="column" fxFlex="40%" class="selected-name" ngClass="oneline-ellipsis" matTooltip="{{projectDisplayValues.sourceProject.projectName}} {{projectDisplayValues.sourceDistribution.distributionName}}">
                  {{projectDisplayValues.sourceProject.projectName}} {{projectDisplayValues.sourceDistribution.distributionName}}
                </div>
                <div fxLayout="column" fxFlex="20%" class="link-icon" fxLayoutAlign="start stretch">
                </div>
                <div fxLayout="column" fxFlex="40%" class="selected-name" ngClass="oneline-ellipsis" matTooltip="{{projectDisplayValues.destinationProject.projectName}} {{projectDisplayValues.destinationDistribution.distributionName}}">
                  {{projectDisplayValues.destinationProject.projectName}} {{projectDisplayValues.destinationDistribution.distributionName}}
                </div>
              </div>
              <div slimScroll class="selected-node-scroll" fxLayout="column" fxFlexFill>
                <div *ngFor="let node of matchedNodes" fxLayout="row" fxFlex>
                  <div fxLayout="column" fxFlex="40%">
                    {{node.sourceNode.label}}
                  </div>
                  <div fxLayout="column" fxFlex="20%" class="link-icon" fxLayoutAlign="start stretch">
                    <i class="mdi mdi-file-word"></i>
                    <span class="h-line"></span>
                    <i class="mdi mdi-file-word"></i>
                  </div>
                  <div fxLayout="column" fxFlex="40%">
                    {{node.destinationNode.label}}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <h3>Manually Matched Nodes</h3>
          <div fxLayout="column" fxFlexOffset="10px" class="selected-nodes">
            <div fxLayout="row" fxLayoutAlign="center center" class="mt-20" *ngIf="manuallyMatchedNodes.length<1">
              <h4> None Selected Yet</h4>
            </div>

            <div [fxHide]="!(manuallyMatchedNodes.length>0)" fxLayout="column" fxLayoutAlign="start stretch" fxFlexFill>
              <div fxLayout="row" fxFlex="18px">
                <div fxLayout="column" fxFlex="40%" class="selected-name" ngClass="oneline-ellipsis" matTooltip="{{projectDisplayValues.sourceProject.projectName}} {{projectDisplayValues.sourceDistribution.distributionName}}">
                  {{projectDisplayValues.sourceProject.projectName}} {{projectDisplayValues.sourceDistribution.distributionName}}
                </div>
                <div fxLayout="column" fxFlex="20%" class="link-icon" fxLayoutAlign="start stretch">

                </div>
                <div fxLayout="column" fxFlex="40%" class="selected-name" ngClass="oneline-ellipsis" matTooltip="{{projectDisplayValues.destinationProject.projectName}} {{projectDisplayValues.destinationDistribution.distributionName}}">
                  {{projectDisplayValues.destinationProject.projectName}} {{projectDisplayValues.destinationDistribution.distributionName}}
                </div>
              </div>
              <div slimScroll class="selected-node-scroll" fxLayout="column" fxFlexFill>
                <div *ngFor="let node of manuallyMatchedNodes" fxLayout="row" fxFlex>
                  <div fxLayout="column" fxFlex="40%">
                    {{node.destinationNode.label}}
                  </div>
                  <div fxLayout="column" fxFlex="20%" class="link-icon" fxLayoutAlign="start stretch">
                    <i class="mdi mdi-file-word"></i>
                    <span class="h-line"></span>
                    <i class="mdi mdi-file-word"></i>
                  </div>
                  <div fxLayout="column" fxFlex="40%">
                    {{node.sourceNode.label}}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <h3>
            Unmatched Nodes
            <span>(unmatched nodes will not be processed)</span>
          </h3>
          <div fxLayout="column" fxFlexOffset="10px" class="selected-nodes">
            <div fxLayout="row" fxLayoutAlign="center center" class="mt-20" *ngIf="unMatchedNodes.length<1">
              <h4> None Selected Yet</h4>
            </div>

            <div [fxHide]="!(unMatchedNodes.length>0)" fxLayout="column" fxLayoutAlign="start stretch" fxFlexFill>
              <div fxLayout="row" fxFlex="18px">
                <div fxLayout="column" class="selected-name" ngClass="oneline-ellipsis" matTooltip="{{projectDisplayValues.sourceProject.projectName}} {{projectDisplayValues.sourceDistribution.distributionName}}">
                  {{projectDisplayValues.sourceProject.projectName}} {{projectDisplayValues.sourceDistribution.distributionName}}
                </div>
              </div>
              <div slimScroll class="selected-node-scroll" fxLayout="column" fxFlexFill>
                <div *ngFor="let node of unMatchedNodes" fxLayout="row" fxFlex>
                  <i class="mdi mdi-file-word unmatched"></i> {{node.destinationNode.label}}
                </div>
              </div>
            </div>
          </div>
          <div fxLayout="row" fxFlexOffset="5px" fxLayoutAlign="end center">
            <button mat-raised-button color="primary" [disabled]="!((matchedNodes && matchedNodes.length>0) || (manuallyMatchedNodes && manuallyMatchedNodes.length>0))"
              (click)="submitClick()">
              {{isBatchMerge?'Batch Merge':'Import Distribution'}}
            </button>
          </div>
        </div>
      </div>
    </div>

  </mat-dialog-content>
</div>
