<mat-list fxLayout="column">
  <h2 ngClass="mb-10">Recently Viewed Documents</h2>
  <div fxLayout="column" slimScroll>
    <div *ngIf="recentlyViewedDocuments && recentlyViewedDocuments.length>0">
      <mat-list-item *ngFor="let document of recentlyViewedDocuments" fxLayout="row" [routerLink]="[document.url]">
        <div ngClass="oneline-ellipsis" fxLayout="column" fxFlex>
          <div fxLayout="row" matLine fxLayoutAlign="start center">
            <button mat-icon-button color="primary">
              <mat-icon mat-list-icon ngClass="p-0">
                <i class="mdi mdi-file mdi-18px"></i>
              </mat-icon>
            </button>
            <h4 matLine>{{document.title}}</h4>
          </div>
          <small *ngIf="document.projectName&&document.distributionName">
            <strong>{{document.projectName}} / {{document.distributionName}}</strong>
          </small>
        </div>
        <small fxFlex="120px" fxLayoutAlign="end">
          {{document.date | formatDate}}
        </small>
      </mat-list-item>
    </div>
  </div>
  <div *ngIf="!recentlyViewedDocuments || recentlyViewedDocuments.length<1">
    <mat-list-item>
      <div ngClass="oneline-ellipsis" fxLayout="column" fxFlex>
        <div fxLayout="row" matLine fxLayoutAlign="start center">
          <h4 matLine> You haven't viewed any document yet.</h4>
        </div>
      </div>
    </mat-list-item>
  </div>
</mat-list>
