<mat-toolbar color="primary">
  Delete Distribution -- {{project.projectName}}
</mat-toolbar>

  this page loads all the distributions under this project.

<div fxLayout="column">
  <div>Do you want to delete the Project</div>
  <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="5px" fxFlexOffset="10px">
    <button mat-raised-button color="primary" (click)="deleteProject()">
      Confirm
    </button>
    <button mat-raised-button color="primary" (click)="cancelDelete()">
      Cancel
    </button>
  </div>
</div>
