<div fxLayout="column">
  <mat-toolbar color="primary">
    <h3 fxFlex>{{isFolder?'Add Folder':'Add Node'}}</h3>
    <button mat-button mat-dialog-close>
      <i class="mdi mdi-close mdi-24px"></i>
    </button>
  </mat-toolbar>
  <mat-dialog-content mat-dialog-content fxLayout="column" fxLayoutAlign="start stretch" fxFlexFill>
    <form fxLayout="column" fxLayoutAlign="start stretch" [formGroup]="nodeForm">
      <mat-form-field fxFlexFill fxFlexOffset="10px">
        <input matInput required placeholder="Title" [formControl]="title">
        <small matSuffix>{{title.value?.length || 0}}/100</small>
        <mat-error *ngIf="title.hasError('required')">Title is required</mat-error>
        <mat-error *ngIf="title.hasError('minlength')">Please enter at least 5 characters.</mat-error>
        <mat-error *ngIf="title.hasError('maxlength')">Please enter maximum of 100 characters</mat-error>
        <mat-error *ngIf="title.hasError('whitespace')">Leading and trailing white spaces not allowed</mat-error>
      </mat-form-field>

      <mat-form-field fxFlexFill fxFlexOffset="10px">
        <input matInput required placeholder="Short Title" [formControl]="shortTitle">
        <small matSuffix>{{shortTitle.value?.length || 0}}/100</small>
        <mat-error *ngIf="shortTitle.hasError('required')">Short Title is required</mat-error>
        <mat-error *ngIf="shortTitle.hasError('minlength')">Please enter at least 5 characters.</mat-error>
        <mat-error *ngIf="shortTitle.hasError('maxlength')">Please enter maximum of 100 characters</mat-error>
        <mat-error *ngIf="shortTitle.hasError('whitespace')">Leading and trailing white spaces not allowed</mat-error>
      </mat-form-field>
      <div fxLayout="column" fxLayoutAlign="start stretch" [fxHide]="isFolder">
        <h3 ngClass="primary-text-color" fxFlexFill>Select Draft Type</h3>
        <mat-radio-group fxFlexFill fxFlexOffset="15px" fxLayout="row" fxLayoutGap="20px" [formControl]="nodeType">
          <mat-radio-button value="2">Blank</mat-radio-button>
          <mat-radio-button value="4">None</mat-radio-button>
        </mat-radio-group>
        <mat-form-field fxFlexFill fxFlexOffset="15px" [fxHide]="nodeType.value!=nodeCreationType.Blank">
          <input matInput placeholder="Draft Name" [formControl]="draftName" [required]="nodeType.value==nodeCreationType.Blank">
        </mat-form-field>
      </div>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions fxFlexFill fxLayoutAlign="end center" [fxHide]="!isOperationAllowed([cmsOperations.AddNode])">
    <div fxLayout="row" fxFlex fxLayoutAlign="end center">
      <button mat-raised-button color="primary" [disabled]="!nodeForm.valid" (click)="addNode(); nodeForm.reset();">
        {{isFolder?'Create Folder':'Create Node'}}
      </button>
    </div>
  </mat-dialog-actions>
</div>
