<div fxLayout="column" class="insert-link-wrapper">
  <mat-toolbar color="primary">
    <h3 fxFlex>CMS Link</h3>
    <button mat-button mat-dialog-close>
      <i class="mdi mdi-close mdi-24px"></i>
    </button>
  </mat-toolbar>
  <mat-dialog-content mat-dialog-content fxLayout="column" fxLayoutAlign="start stretch" fxFlexFill>
    <form fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px" fxFlexFill>
      <div fxLayout="row" fxLayoutGap="10px">
        <mat-form-field fxFlex="50%">
          <mat-select placeholder="Select Project" [disabled]="true" [formControl]="project" (change)="selectedProjectId=project.value; getDistributions()">
            <mat-option *ngFor="let item of projectList" [value]="item._id"> {{ item.projectName }}</mat-option>
          </mat-select>
          <mat-progress-bar mode="indeterminate" *ngIf="isProjectsLoading"></mat-progress-bar>
        </mat-form-field>
        <mat-form-field fxFlex="50%">
          <mat-select placeholder="Select Distribution" [formControl]="distribution" [disabled]="true" (change)="selectedDistributionId=distribution.value; requestTree()">
            <mat-option *ngFor="let item of distributionList" [value]="item.distributionId"> {{ item.distributionName }}</mat-option>
          </mat-select>
          <mat-progress-bar mode="indeterminate" *ngIf="isDistributionsLoading"></mat-progress-bar>
        </mat-form-field>
      </div>
      <div fxLayout="row">
        <span fxFlex ngClass="custom-form-field" fxLayoutAlign="space-between center">
          <input type="search" fxFlex [formControl]="searchText" (keyup)="searchTree()" placeholder="Search..." />
          <i class="mdi mdi-magnify mdi-24px"></i>
        </span>
      </div>
      <div *ngIf="isTreeViewLoading">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>

      <div fxFlexFill [fxHide]="nodeList.length>0" class="insert-link-scroll bg-white" fxLayout="row" fxLayoutAlign="center center">
        <h4>No Nodes Avaliable to Select, Please select any Project, Distribution which having nodes.</h4>
      </div>
      <div [fxShow]="nodeList.length>0" fxFlexFill>
        <div fxLayout="row" fxFlexFill slimScroll class="insert-link-scroll">
          <div fxFlexFill>
            <p-tree #expandingTree selectionMode="single" [value]="filteredNodes" fxLayout="row" [(selection)]="selectedNode" (onNodeSelect)="onNodeSelect($event)"
              fxFlexFill>
              <ng-template let-node pTemplate="default" width="100%">
                <span ngClass="{{(selectedNode?selectedNode.nodeId:'') == node.nodeId? 'bold ui-state-highlight' : ''}}">{{node.label}}</span>
              </ng-template>
            </p-tree>
          </div>

        </div>
      </div>

    </form>
  </mat-dialog-content>
  <mat-dialog-actions fxFlexFill fxLayoutAlign="end center" class="pt-0">
    <div fxLayout="row" fxFlex fxLayoutAlign="end center" fxLayoutGap="10px">
      <input type="text" maxlength="100" ngClass="form-control" [(ngModel)]="copyToClipboardText" fxFlex title="{{copyToClipboardText}}">
      <button mat-raised-button color="primary" (click)="copyToClipboardText?copyToClipboard(copyToClipboardText):''">
        <i class="mdi mdi-content-copy"></i>{{isValueCopied?'Copied':'Copy to Clipboard'}}</button>
    </div>
  </mat-dialog-actions>
</div>
