<div fxLayout="column" fxLayoutGap="10px">
  <div fxLayout="column" class="analytics-bg">
    <div class="heading" fxLayout="row" fxLayoutAlign="space-between center">
      <b>Eventing Dashboard</b>
    </div>
    <div fxLayout="row">
      <iframe src="https://8826709ba84142ba9257a23cfebe0610.eu-west-1.aws.found.io:9243/app/kibana#/dashboard/b971cce0-86ac-11e8-ac84-adc307171d5d?embed=true&_g=(refreshInterval%3A('%24%24hashKey'%3A'object%3A1110'%2Cdisplay%3A'10%20seconds'%2Cpause%3A!f%2Csection%3A1%2Cvalue%3A10000)%2Ctime%3A(from%3Anow-30m%2Cmode%3Aquick%2Cto%3Anow))" 
      style="width:100%;height: -webkit-fill-available;"
      
   frameborder="0"
   width="100%"
   marginheight="0"
   marginwidth="0"
   scrolling="no"></iframe>
    </div>
  </div>
</div>
