<div fxLayout="column"> 
	<mat-toolbar color="primary">
		<h3 fxFlex>Add Term</h3>
		<button mat-button mat-dialog-close>
		  <i class="mdi mdi-close mdi-24px"></i>
		</button>
	</mat-toolbar>
  	<mat-dialog-content mat-dialog-content fxLayout="column" fxLayoutAlign="start stretch" fxFlexFill>
    	<form fxLayout="column" fxLayoutAlign="start stretch"  [formGroup]="addGlossaryForm">
    		<div fxLayout="row" fxLayoutAlign="stretch start" fxLayoutGap="20px">
    			<mat-form-field fxFlex>
				    <input matInput placeholder="Term Name" [formControl]="termName">				    
				    <mat-error *ngIf="termName.hasError('required')">Please enter term name</mat-error>
				</mat-form-field>
				<mat-form-field fxFlex>
					<mat-select placeholder="Select Type" [formControl]="termType">
					    <mat-option *ngFor="let termType of termTypes" value="termType">
					      {{ termType }}
					    </mat-option>
					</mat-select>
				</mat-form-field>
    		</div>
    		<mat-form-field class="example-full-width">
			    <input matInput #termDesc maxlength="50" placeholder="Short Description"  [formControl]="shortDescription">
			    <mat-hint align="end">{{termDesc.value.length}} / 50</mat-hint>
			</mat-form-field>
			<mat-form-field class="example-full-width">
			    <textarea matInput #termLongDesc maxlength="50" placeholder="Long Description" [formControl]="longDescription"></textarea>
			    <mat-hint align="end">{{termLongDesc.value.length}} / 150</mat-hint>
			</mat-form-field>
			<mat-form-field class="example-full-width">
			    <input matInput placeholder="Style Guidance" [formControl]="styleGuidance">
			    <span matSuffix class="mdi mdi-information-outline mdi-18px"></span>
			</mat-form-field>
			<div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
				<div fxLayout="column" fxLayoutAlign="start start" fxFlex="150px">
					<label>Forbidden</label>
					<mat-checkbox name="Forbidden" [formControl]="forbiddenStatus">{{forbiddenStatus.value?'Checked':'Check'}}</mat-checkbox>
				</div>
				<div fxLayout="column" fxLayoutAlign="start start">
					<label>Localize</label>
					<mat-slide-toggle name="Localize" [formControl]="localisationStatus"> {{localisationStatus.value?'On':'Off'}}</mat-slide-toggle>
				</div>
			</div>
			<div fxLayout="row" fxFlexOffset="20px" fxLayoutAlign="end">
				<button mat-raised-button color="primary">Save Changes</button>
			</div>
    	</form>
	</mat-dialog-content>
</div>
