<footer class="footer-wrapper" fxLayout="row">
  <div class="container-fluid" fxLayout="column" fxFlex="100">
    <ul fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="center center" fxFlex="50px">
      <li>Copyright &copy; 2017 Unity Technologies</li>
      <li><a href="https://unity3d.com/legal">Legal</a></li>
      <li><a href="https://unity3d.com/legal/privacy-policy">Privacy Policy</a></li>
      <li><a href="https://unity3d.com/legal/cookie-policy#cookies">Cookies</a></li>
      <li><a href="#">Terms of Services</a></li>
    </ul>
  </div>
</footer> 
