<div fxLayout="column">
  <mat-toolbar color="primary">
    <h3 fxFlex>Create Draft</h3>
    <button mat-button mat-dialog-close>
      <i class="mdi mdi-close mdi-24px"></i>
    </button>
  </mat-toolbar>
  <mat-dialog-content mat-dialog-content fxLayout="column" fxLayoutAlign="start stretch" fxFlexFill>
    <form fxLayout="column" fxLayoutAlign="start stretch" [formGroup]="draftForm">
      <mat-form-field fxFlexFill fxFlexOffset="10px">
        <input matInput required placeholder="Draft Name" [formControl]="draftName" (blur)="checkDuplicateName()" (keyup)="checkDuplicateName()">
        <small matSuffix>{{draftName.value?.length || 0}}/100</small>
        <mat-error *ngIf="draftName.hasError('required')">Draft Name is required</mat-error>
        <mat-error *ngIf="draftName.hasError('minlength')">Please enter at least 5 characters.</mat-error>
        <mat-error *ngIf="draftName.hasError('maxlength')">Please enter maximum of 100 characters</mat-error>
        <mat-error *ngIf="draftName.hasError('whitespace')">Leading and trailing white spaces not allowed</mat-error>

      </mat-form-field>
      <mat-error *ngIf="!isValidDraftName">Duplicate Draft Name </mat-error>

      <h3 ngClass="primary-text-color" fxFlexFill fxFlexOffset="10px">Select Draft Type</h3>
      <mat-radio-group fxFlexFill fxFlexOffset="15px" fxLayout="row" fxLayoutGap="20px" [formControl]="draftType">
        <!--<mat-radio-button value="1">URL</mat-radio-button>-->
        <mat-radio-button value="2">Existing Draft</mat-radio-button>
        <mat-radio-button value="3">Blank</mat-radio-button>
        <!--<mat-radio-button value="4">Templates</mat-radio-button>-->
      </mat-radio-group>
      <mat-form-field fxFlexFill fxFlexOffset="15px" *ngIf="draftType.value==draftCreationType.URL">
        <input matInput placeholder="URL">
      </mat-form-field>
      <mat-form-field fxFlexFill fxFlexOffset="15px" [fxHide]="draftType.value!=draftCreationType.ExistingDraft">
        <mat-select placeholder="Existing Drafts" [formControl]="existingDraft" [required]="draftType.value==draftCreationType.ExistingDraft">
          <mat-option *ngFor="let item of draftArray | sort: 'draftName'" [value]="item.draftId"> {{ item.draftName }} {{item.status}}</mat-option>
        </mat-select>
        <mat-error *ngIf="existingDraft.hasError('required')">Draft is required</mat-error>
      </mat-form-field>
      <div>
        <mat-error [fxHide]="draftType.value!=draftCreationType.ExistingDraft" *ngIf="draftArray.length<1">Drafts not avaliable. Create a Blank Draft to procced.</mat-error>
      </div>
    </form>
    <div fxLayout="column" fxLayoutGap="10px" fxFlexOffset="15px" *ngIf="draftType.value==draftCreationType.Templates">
      <h4 ngClass="primary-text-color">SELECT TEMPLATE</h4>
      <div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="start center">
        <div ngClass="draft-template" fxLayoutAlign="center center">TEMPLATE 1</div>
        <div ngClass="draft-template" fxLayoutAlign="center center">TEMPLATE 2</div>
        <div ngClass="draft-template" fxLayoutAlign="center center">TEMPLATE 3</div>
        <div ngClass="draft-template" fxLayoutAlign="center center">TEMPLATE 4</div>
        <div ngClass="draft-template" fxLayoutAlign="center center">TEMPLATE 4</div>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions fxFlexFill fxLayoutAlign="end center" [fxHide]="!isOperationAllowed([cmsOperations.CreateDraft])">
    <div fxLayout="row" fxFlex fxLayoutAlign="end center">
      <button mat-raised-button color="primary" [disabled]="!isValidDraftName||!draftForm.valid" (click)="newDraft();draftForm.reset();">
        Create Draft
      </button>
    </div>
  </mat-dialog-actions>
</div>
