<div fxLayout="column" slimScroll>

  <form [formGroup]="updateNodeForm" fxLayout="column" fxLayoutAlign="center stretch" fxFlex>
    <span>Short Title</span>
    <div ngClass="custom-mat-input-wrapper" fxLayout="row" fxLayoutAlign="start center" fxFlex>
      <input type="text" ngClass="form-control" [formControl]="shortTitle" fxFlex>
      <i class="mat-suffix mdi mdi-pencil mdi-24px cursor-pointer" *ngIf="!shortTitle.enabled && isOperationAllowed([cmsOperations.UpdateNode])  && !isScriptRef()"
        (click)="doNodeOperation('editShortTitle')"></i>
      <i class="mat-suffix mdi mdi-check mdi-24px cursor-pointer" *ngIf="shortTitle.enabled && isOperationAllowed([cmsOperations.UpdateNode]) && !isScriptRef()"
        (click)="updateNodeForm.valid?doNodeOperation('updateShortTitle'):''"></i>
      <i class="mat-suffix mdi mdi-close mdi-24px cursor-pointer" *ngIf="shortTitle.enabled && isOperationAllowed([cmsOperations.UpdateNode]) && !isScriptRef()"
        (click)="doNodeOperation('editShortTitle')"></i>
    </div>
    <mat-error *ngIf="shortTitle.hasError('required') && shortTitle.touched">Short Title is required</mat-error>
    <mat-error *ngIf="shortTitle.hasError('minlength') && shortTitle.touched">Please enter at least 5 characters</mat-error>
    <mat-error *ngIf="shortTitle.hasError('maxlength') && shortTitle.touched">Please enter maximum of 100 characters</mat-error>
    <mat-error *ngIf="shortTitle.hasError('whitespace') && shortTitle.touched">Leading and trailing white spaces not allowed</mat-error>
    <mat-progress-bar mode="indeterminate" *ngIf="isNodeShortTitleUpdateInProgress"></mat-progress-bar>
    <span>Document Name</span>
    <div ngClass="custom-mat-input-wrapper" fxLayout="row" fxLayoutAlign="start center" fxFlex *ngIf="!isScriptRef()">
      <input type="text" ngClass="form-control" [formControl]="fileName" fxFlex>
      <i class="mat-suffix mdi mdi-pencil mdi-24px cursor-pointer" *ngIf="!fileName.enabled && isOperationAllowed([cmsOperations.UpdateNode])"
        (click)="doNodeOperation('editFileName')"></i>
      <i class="mat-suffix mdi mdi-check mdi-24px cursor-pointer" *ngIf="fileName.enabled && isOperationAllowed([cmsOperations.UpdateNode])"
        (click)="updateNodeForm.valid?doNodeOperation('updateFileName'):''"></i>
      <i class="mat-suffix mdi mdi-close mdi-24px cursor-pointer" *ngIf="fileName.enabled && isOperationAllowed([cmsOperations.UpdateNode])"
        (click)="doNodeOperation('editFileName')"></i>
    </div>

    <div ngClass="custom-mat-input-wrapper" fxLayout="row" fxLayoutAlign="start center" fxFlex *ngIf="isScriptRef()">
      <span *ngFor="let path of selectedNode.relativeFilePaths?selectedNode.relativeFilePaths:[]">
        {{path}}
      </span>
    </div>
    <mat-error *ngIf="fileName.hasError('pattern') && fileName.touched">Special characters \:*?"
      <>|/ not allowed</mat-error>
    <mat-error *ngIf="fileName.hasError('required') && fileName.touched">File Name is required</mat-error>
    <mat-error *ngIf="fileName.hasError('minlength') && fileName.touched">Please enter at least 5 characters</mat-error>
    <mat-error *ngIf="fileName.hasError('maxlength') && fileName.touched">Please enter maximum of 100 characters</mat-error>
    <mat-error *ngIf="fileName.hasError('whitespace') && fileName.touched">Leading and trailing white spaces not allowed</mat-error>
    <mat-progress-bar mode="indeterminate" *ngIf="isNodeFileNameUpdateInProgress"></mat-progress-bar>
  </form>

  <mat-accordion fxLayout="column" multi="false" class="mt-10">
    <mat-expansion-panel ngClass="bg-transparent">
      <mat-expansion-panel-header collapsedHeight="40px" expandedHeight="40px">
        <mat-panel-title>
          <h3>All Drafts</h3>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list ngClass="custom-mat-list draft-list" fxLayout="column">
        <div fxLayout="column" slimScroll ngClass="node-drafts-container">
          <mat-list-item fxFlex *ngFor="let draft of nodeDrafts">
            <div ngClass="tag-editing" fxLayout="row" fxLayoutAlign="space-between center" fxFlex>
              <div *ngIf="draft.draftId!=selectedDraft.draftId || !isOperationAllowed([cmsOperations.RenameDraft]) || draft.draftType!=draftType.WorkInProgress"
                fxLayout="row" FxLayoutAlign="space-between center" fxFlex>
                <span (click)="setSelectedDraft(draft)">{{draft.draftName}}</span>
              </div>
              <div *ngIf="draft.draftId==selectedDraft.draftId && isOperationAllowed([cmsOperations.RenameDraft]) && draft.draftType==draftType.WorkInProgress">
                <mat-form-field floatPlaceholder="never">
                  <input matInput placeholder="Draft Name" name="draftName" autofocus (keyup)="checkValidName(selectedDraft)" maxlength="100"
                    [(ngModel)]="selectedDraft.draftName" required>
                  <small matSuffix>{{selectedDraft.draftName?selectedDraft.draftName.length:0}}/100</small>
                  <mat-error *ngIf="!(selectedDraft.draftName.length>0)">Draft name is required</mat-error>
                  <mat-error *ngIf="selectedDraft.draftName.length>0 && selectedDraft.draftName.length<5">Please enter at least 5 characters</mat-error>
                  <div ngClass="tag-handler-icons" fxLayout="row">
                    <button mat-menu-item [disabled]="!isValidDraftName" (click)="draft.inProgress=true;editDraft(); $event.stopPropagation();">
                      <i class="mdi mdi-check mdi-24px"></i>
                    </button>
                    <button mat-menu-item (click)="refreshSelectedDraft(); $event.stopPropagation();">
                      <i class="mdi mdi-close mdi-24px"></i>
                    </button>
                  </div>
                </mat-form-field>
                <mat-error ngClass="invalid-draft-error" *ngIf="!isValidDraftName">invalid Draft Name</mat-error>
              </div>

              <mat-icon *ngIf="draft.draftType!=draftType.CoderDraft && !draft.inProgress">
                <i class="mdi mdi-delete mdi-24px cursor-pointer" (click)="deleteDraft(draft)" [fxHide]="!isOperationAllowed([cmsOperations.DeleteDraft])"></i>
              </mat-icon>
              <mat-spinner *ngIf="draft.inProgress" fxFlex="5%" fxLayoutAlign="center" style="float:right;" ngClass="tag-view-loader"></mat-spinner>
            </div>
          </mat-list-item>
        </div>
      </mat-list>
    </mat-expansion-panel>
    <mat-expansion-panel ngClass="bg-transparent" [expanded]="true">
      <mat-expansion-panel-header collapsedHeight="40px" expandedHeight="40px">
        <mat-panel-title>
          <h3>Tags</h3>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div ngClass="tags-list" slimScroll fxLayout="column">
        <mat-chip-list #chipList>
          <div fxLayout="row" class="button-row" fxFlexFill fxLayoutAlign="end end">
            <button mat-raised-button color="primary" [disabled]="!selectedNode||!selectedProject" fxFlexAlign="end" (click)="openDialog();$event.stopPropagation();">EDIT TAGS</button>
          </div>
          <div class="mt-10">
            <mat-chip class="m-5" *ngFor="let tag of assignedTags | sort: 'tagName'" selectable="true" selected="true" [ngStyle]="{'background-color': tag.colour}">
              {{tag.tagName}}
              <span *ngIf="tag.displayGroupName">({{tag.tagGroupName}})</span>
              <mat-spinner *ngIf="tag.inProgress" ngClass="tag-view-loader"></mat-spinner>
              <mat-icon *ngIf="!tag.inProgress" matChipRemove [fxHide]="!isOperationAllowed([cmsOperations.DeleteTagsFromNode])" (click)="removeTag(tag)">
                <i class="mdi mdi-close-circle mdi-18px"></i>
              </mat-icon>
            </mat-chip>
          </div>
          <div class="mt-10">
            <mat-form-field>
              <input matInput placeholder="Enter a tag name" [matChipInputFor]="chipList" aria-label="Tags" [matAutocomplete]="auto" [formControl]="tagCtrl">
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="addTag($event)" [fxHide]="!isOperationAllowed([cmsOperations.AddTagsToNode])">
                <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
                  {{tag.tagName}}
                  <span *ngIf="tag.displayGroupName">({{tag.tagGroupName}})</span>
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
        </mat-chip-list>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel ngClass="bg-transparent">
      <mat-expansion-panel-header collapsedHeight="40px" expandedHeight="40px">
        <mat-panel-title>
          <h3>Available Languages</h3>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div fxLayout="column">
        <mat-form-field fxFlexFill ngClass="language-wrapper" fxFlexOffset="10px">
          <mat-chip-list>
            <mat-chip>ENGLISH</mat-chip>
          </mat-chip-list>
        </mat-form-field>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
