<div ngClass="assign-tags-wrapper show-tags-wrapper" fxLayout="column">
  <mat-toolbar color="primary">
    <h3 fxFlex>{{operationType=='TreeFilter'?'Filter Hierarchy':'Select Tag Groups to show on Hierarchy'}}</h3>
    <button mat-button mat-dialog-close>
      <i class="mdi mdi-close mdi-24px"></i>
    </button>
  </mat-toolbar>
  <mat-dialog-content fxLayout="column" fxLayoutGap="15px">
    <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px">
      <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="30px">
        <mat-card fxFlex="100">
          <div slimScroll ngClass="tag-group-hierarchy">
            <mat-accordion ngClass="custom-mat-accordion" *ngFor="let tagGroup of tagGroups">
              <mat-expansion-panel *ngIf="tagGroup.tags.length>0">
                <mat-expansion-panel-header ngClass="p-2" collapsedHeight="40px" expandedHeight="40px">
                  <mat-panel-title fxFlex>
                    <div fxLayout="row" fxLayoutAlign="space-between stretch" fxFlex>
                      <div fxFlex fxLayout="row" fxLayoutGap="5px">
                        <i [ngStyle]="{'color': tagGroup.colour}" class="mdi mdi-tag mdi-18px"></i>
                        <span>{{tagGroup.tagGroupName}}</span>
                      </div>
                      <span fxFlex="30px" fxFlexAlign="end" (click)="$event.stopPropagation();">
                        <mat-checkbox [(ngModel)]="tagGroup.selected" (click)="selectTagGroup($event,tagGroup)" color="primary">
                        </mat-checkbox>
                      </span>
                    </div>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-chip-list ngClass="mat-chip-list-stacked" aria-orientation="vertical">
                  <mat-chip [ngStyle]="{'background-color': tagGroup.colour }" selected="true" fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="space-between center"
                    *ngFor="let tag of tagGroup.tags">
                    <span fxLayoutGap="5px">{{tag.tagName}}</span>
                    <mat-checkbox *ngIf="operationType=='TreeFilter'" [(ngModel)]="tag.selected" (click)="selectTag($event,tag,tagGroup)">
                    </mat-checkbox>

                  </mat-chip>
                </mat-chip-list>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </mat-card>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions fxFlexFill fxLayoutAlign="end center">
    <div class="button-row">
      <button mat-raised-button type="submit" (click)="applyChanges()">APPLY</button>
    </div>
  </mat-dialog-actions>
</div>