<div fxLayout="column" ngClass="notification-content-wrapper" fxLayoutGap="5px">
  <app-operation-status></app-operation-status>
  <app-personal-updates></app-personal-updates>
  <mat-list fxLayout="column" class="personal-updates-wrapper">
    <h2 ngClass="mb-10">Upcoming Updates</h2>
    <div fxLayout="column" ngClass="personal-updates-scroll">
      <mat-list-item fxFlex fxLayoutGap="2px">
        <div class="left-view">
          <div class="profile-avatar">
            <div class="profile-short-name">
              MD
            </div>
          </div>
        </div>
        <div class="right-view" fxLayoutGap="5px">
          <h4 mat-line class="h-date">
            <span class="name"> Coming Soon </span>
          </h4>
          <div>
            <div class="oneline-ellipsis"> </div>
          </div>
        </div>
      </mat-list-item>
    </div>
  </mat-list>
</div>
