<div fxLayout="column" fxLayoutGap="10px" fxFlexFill>
  <mat-toolbar color="primary" fxFlex="50px">
    <h3 fxFlex>Node History</h3>
    <span (click)="closeSideNav()" ngClass="cursor-pointer">
      <i class="mdi mdi-close mdi-24px"></i>
    </span>
  </mat-toolbar>
  <div fxFlex="33px">
    <mat-tab-group>
      <mat-tab label="Activity"></mat-tab>
      <mat-tab label="History"></mat-tab>
    </mat-tab-group>
  </div>
  <div ngClass="node-history-sidenav-body" fxLayout="column" fxLayoutGap="10px" fxFlex>
    <form [formGroup]="searchForm" fxLayout="column" fxLayoutGap="10px" fxFlex="100px">
      <div ngClass="node-history-filter" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px" fxFlex="50px">
        <mat-form-field ngClass="custom-input-field custom-select-field" fxFlex>
          <mat-select placeholder="All Users" ngClass="" [formControl]="users">
            <mat-option>All Users</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field ngClass="custom-input-field custom-select-field" fxFlex>
          <mat-select placeholder="Actions" [formControl]="Actions" multiple>
            <mat-option *ngFor="let action of actionList" [value]="action.actionId">{{action.actionName}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field ngClass="custom-date-field" fxFlex>
          <input matInput [matDatepicker]="picker" placeholder="Choose a date" [formControl]="searchDate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div ngClass="custom-mat-input-wrapper" fxLayout="row" fxLayoutAlign="start start" fxFlex="40px">
        <input type="search" ngClass="form-control" placeholder="Search" fxFlex [formControl]="searchText">
        <i class="mat-suffix mdi mdi-magnify mdi-24px" (click)="resetDocumentActivity()"></i>
      </div>
    </form>
    <div fxLayout="row" fxLayoutAlign="start stretch" *ngIf="isDocumentActivityInProgress">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    <div ngClass="node-history-details" fxLayout="column" appInfiniteScroll height="100" (scrolldown)="onScrollDown()" 
      fxFlexFill slimScroll [fxHide]="!(documentActivityList && documentActivityList.length>0)">
      <mat-list fxFlexFill fxLayout="column" fxLayoutGap="15px">
        <mat-list-item *ngFor="let activity of documentActivityList">
          <mat-icon mat-list-icon></mat-icon>
          <h4 mat-line>
            <strong>{{activity.createdDate | relativeDate}}</strong>
          </h4>
          <div mat-line [innerHTML]="activity.activityString  |sanitizeHtml"></div>
        </mat-list-item>
      </mat-list>
    </div>

  </div>
</div>
