<div fxLayout="column" class="profile-info">
  <mat-toolbar color="primary">
    <h3 fxFlex>Update Profile Picture</h3>
    <button mat-button mat-dialog-close>
      <i class="mdi mdi-close mdi-24px"></i>
    </button>
  </mat-toolbar>
  <mat-dialog-content mat-dialog-content fxLayout="column" fxLayoutAlign="start stretch" fxFlexFill>
    <div id="dam-dragdrop" fxLayout="column" fxLayoutAlign="center center" (drop)="drop($event)" (dragenter)="dragEnter($event)"
      (dragleave)="dragLeave($event)" (dragover)="dragOver($event)" ngClass="profile-image-wrapper" [class]="dropUploadClass">
      <img-cropper #cropper [image]="data" [settings]="cropperSettings" [fxHide]="!data.image"></img-cropper>
      <div ngClass="image-drag-overlay" fxLayout="column" fxLayoutAlign="end center">
        <i class="mdi mdi-cloud-upload mdi-36px"></i>
        <button mat-raised-button color="primary">Drag and Drop a picture here</button>
      </div>
      <div *ngIf="(!data.image && !(dropUploadClass?dropUploadClass.toString():''!==''))">
        <div class="mt-10" fxLayout="column" fxLayoutAlign="start stretch" fxFlexFill>
          Drag and Drop a picture here
        </div>
        <div class="mt-10" fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
          OR
        </div>
        <div fxLayout="column" class="mt-10" fxLayoutAlign="start stretch" fxFlexFill>
          <button mat-raised-button ngClass="secondary-btn" (click)="fileInput.click()">
            <span>Upload</span>
            <i class="mdi mdi-18px mdi-upload"></i>
            <input #fileInput class="none" (change)="onChange($event)" type="file" style="display:none;" />
          </button>
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions fxFlexFill fxLayoutAlign="end center" class="pt-0">
    <div fxFlexFill fxLayout="row">
      <mat-error *ngIf="uploadErrorMessage">
        <i class="mdi mdi-information mdi-18px"></i>
        <span>{{uploadErrorMessage}}</span>
      </mat-error>
      <div fxLayout="row" fxLayoutAlign="end end" *ngIf="data.image">
        <button mat-raised-button ngClass="secondary-btn" (click)="fileInput.click()">
          <span>Browse</span>
          <i class="mdi mdi-18px mdi-upload"></i>
          <input #fileInput class="none" (change)="onChange($event)" type="file" style="display:none;" />
        </button>
      </div>
      <div fxLayout="row" fxLayoutAlign="end end" *ngIf="data.image" fxFlexOffset="20px">
        <button mat-raised-button color="primary" (click)="data.image?uploadUserProfilePic():''" [disabled]="!data.image">Update Picture</button>
      </div>
    </div>
    <mat-progress-bar mode="indeterminate" class="mt-5" *ngIf="isUpdateInProgress"></mat-progress-bar>
  </mat-dialog-actions>
</div>