<div ngClass="header-wrapper" fxLayout="column" class="docworksDarkTheme">
  <mat-card color="basic" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="50px" fxFlex="59px">
    <a class="brand-logo" title="Home" href="/hc/en-us" fxFlex="245px" fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5%">
      <span>
        <img src="../assets/img/unity-logo-white.png" alt="Logo" class="logo">
      </span>
      <span class="mat-h1">DocWorks</span>
    </a>
    <div fxLayout="row" fxFlex>
      <nav mat-tab-nav-bar fxFlex>
        <a mat-tab-link *ngFor="let link of navLinks" [routerLink]="link.path" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">
          {{link.label}} </a>
      </nav>
      <div fxFlex="255px" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
        <div fxFlex="40px" ngClass="notification-wrapper dropdown-wrapper" fxLayoutAlign="center center">
          <button mat-icon-button (click)="openSideNav()">
            <mat-chip ngClass="notification cursor-pointer" color="warn" selected="true" (click)="openSideNav()" *ngIf="unReadOperationCount && unReadOperationCount>0">{{unReadOperationCount}}</mat-chip>
            <mat-icon>
              <i class="mdi mdi-bell mdi-24px"></i>
            </mat-icon>
          </button>
        </div>
        <div fxFlex="200px" fxLayout="row" fxLayoutAlign="end center">
          <span ngClass="oneline-ellipsis text-right" fxFlex fxFlexOffset="15px" matTooltip="{{getFirstName()}}">{{getFirstName()}}</span>
          <button [matMenuTriggerFor]="profileAvatar" mat-fab ngClass="profile-avatar" fxFlexOffset="20px">
            <div class="profile-short-name" *ngIf="!userProfile.profilePicUrl">
              {{userProfile.profileShortName}}
            </div>
            <img *ngIf="userProfile.profilePicUrl" src="{{userProfile.profilePicUrl}}" ngClass="img-responsive w-100">
          </button>
          <mat-menu #profileAvatar="matMenu" [overlapTrigger]="false" class="update-profile" yPosition="below" xPosition="after">
            <div ngClass="update-profile-image" fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="15px">
              <div fxFlex="110px" ngClass="profile-image">
                <div class="profile-short-name" *ngIf="!userProfile.profilePicUrl">
               <p>{{userProfile.profileShortName}}  </p> 
                </div>
                <img *ngIf="userProfile.profilePicUrl" src="{{userProfile.profilePicUrl}}" ngClass="img-responsive">
                <i class="mdi mdi-delete mdi-18px delete-picture" *ngIf="userProfile.profilePicUrl" (click)="removeUserProfilePic()"></i>
              </div>
              <div fxLayout="column" fxLayoutGap="10px" fxFlex fxLayoutAlign="start stretch">
                <h3>
                  <strong>{{userProfile.firstName}} {{userProfile.lastName}}</strong>
                </h3>
                <a href="mailto:{{userProfile.userPrincipalName}}" title="{{userProfile.userPrincipalName}}" class="oneline-ellipsis"> {{userProfile.userPrincipalName}}</a>
                <div>
                  <button mat-raised-button color="primary" (click)="updateProfilePic()">Update Picture</button>
                </div>
                <mat-progress-bar mode="indeterminate" *ngIf="isUpdateInProgress"></mat-progress-bar>
              </div>
            </div>
          </mat-menu>

          <button mat-icon-button fxFlexAlign="start center" fxFlexOffset="20px">
            <mat-icon matTooltip="Logout" (click)="logout()">
              <i class="mdi mdi-power mdi-24px"></i>
            </mat-icon>
          </button>
        </div>
      </div>
    </div>
  </mat-card>
</div>