<div fxLayout="column" fxLayoutGap="15px" fxLayoutAlign="start stretch" fxFlexFill>
  <div fxLayout="row" ngClass="breadcrumb" fxLayoutGap="15px" fxLayoutAlign="space-between center">
    <div fxLayout="row" fxLayoutGap="25px" fxLayoutWrap>
      <strong>
        {{selectedProject.projectName}}&nbsp;
        <span *ngIf="selectedProject.typeOfContent!=documentationType.KnowledgeBase">
          ({{selectedDistribution.distributionName}})
        </span>
      </strong>
      <a *ngFor="let node of hierarchy" (click)="navigate(node)">
        <strong>{{node.shortTitle}} </strong>
      </a>
    </div>
    <i class="mdi mdi-arrow-collapse mdi-24px cursor-pointer" (click)="editorsExpanded=!editorsExpanded" *ngIf="editorsExpanded"></i>
    <i class="mdi mdi-arrow-expand mdi-24px cursor-pointer" (click)="editorsExpanded=!editorsExpanded" *ngIf="!editorsExpanded"></i>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between end" fxFlex="40px" *ngIf="tabs && !editorsExpanded">
    <div fxLayout="column" fxLayoutAlign="center stretch" fxFlex fxFlexOffset="3px">
      <form [formGroup]="updateNodeTitleForm" fxLayout="column" class="update-node-authoring-view">
        <span>Title</span>
        <div ngClass="custom-mat-input-wrapper" fxLayout="row" fxLayoutAlign="start center" fxFlex>
          <input type="text" ngClass="form-control" [formControl]="nodeTitle" fxFlex>
          <i class="mat-suffix mdi mdi-pencil mdi-24px cursor-pointer" *ngIf="!nodeTitle.enabled && isOperationAllowed([cmsOperations.UpdateNode]) && !isScriptRef()"
            (click)="doNodeOperation()"></i>
          <i class="mat-suffix mdi mdi-check mdi-24px cursor-pointer" *ngIf="nodeTitle.enabled && isOperationAllowed([cmsOperations.UpdateNode]) && !isScriptRef()"
            (click)="updateNodeTitleForm.valid?doNodeOperation('updateTitle'):''"></i>
          <i class="mat-suffix mdi mdi-close mdi-24px cursor-pointer" *ngIf="nodeTitle.enabled && isOperationAllowed([cmsOperations.UpdateNode]) && !isScriptRef()"
            (click)="doNodeOperation()"></i>
        </div>
        <mat-error *ngIf="nodeTitle.hasError('maxlength') || nodeTitle.hasError('minlength') || nodeTitle.hasError('whitespace') || nodeTitle.hasError('required')"
          class="error-message">Minimum 5, Maximum 100 characters allowed. without trailing, leading spaces.</mat-error>

        <mat-progress-bar mode="indeterminate" *ngIf="isEditNodeTitleInProgress"></mat-progress-bar>
      </form>
    </div>
    <div class="button-row" fxLayout="row" fxLayoutAlign="flex-end end" fxFlexOffset="10px">
      <button mat-raised-button color="primary" (click)="openNewDraftDialog()" [fxHide]="!isOperationAllowed([cmsOperations.CreateDraft])">
        <i class="mdi mdi-plus mdi-18px"></i> New Draft
      </button>
      <button mat-raised-button [matMenuTriggerFor]="insertMenu" [disabled]="!selectedNodeDrafts" fxFlexOffset="10px" [fxHide]="!isOperationAllowed([cmsOperations.UpsertAsset])">
        <i class="mdi mdi-attachment mdi-rotate-90 mdi-18px"></i> INSERT
        <i class="mdi mdi-menu-down mdi-18px"></i>
        <mat-menu #insertMenu="matMenu" xPosition="before" yPosition="below" [overlapTrigger]="false">
          <button mat-menu-item (click)="insertAssetDialog(assetType.image)">
            <mat-icon>
              <i class="mdi mdi-file-image mdi-18px"></i>
            </mat-icon>
            <span>IMAGE</span>
          </button>
          <button mat-menu-item (click)="insertAssetDialog(assetType.codeSnippet)">
            <mat-icon>
              <i class="mdi mdi-code-not-equal-variant mdi-18px"></i>
            </mat-icon>
            <span>CODE BLOCK</span>
          </button>
          <button mat-menu-item (click)="insertAssetDialog(assetType.internalArticleUrl)">
            <mat-icon>
              <i class="mdi mdi-link-variant mdi-18px"></i>
            </mat-icon>
            <span>CMS LINK</span>
          </button>
        </mat-menu>
      </button>
      <button mat-raised-button [disabled]="!selectedNodeDrafts" fxFlexOffset="10px" (click)="openComparisionTool()">
        <i class="mdi mdi-compare mdi-18px"></i> Compare
      </button>
      <button mat-raised-button [disabled]="!selectedNodeDrafts" (click)="sideNavPosition = true;openDocumentHistorySidenav()" fxFlexOffset="10px">
        <i class="mdi mdi-history mdi-18px"></i> Doc History
      </button>
      <button [fxHide]="!isOperationAllowed([cmsOperations.AcceptDraftToLive])" mat-raised-button fxFlexOffset="10px" color="accent"
        [disabled]="!selectedNodeDrafts||this.selectedNodeDrafts['LEFT'].draftType==draftType.LiveDraft" (click)="pushDraftToLive()"
        *ngIf="differentDrafts" matTooltip="Approve Draft overwrites live draft (queueing it for publish) and coder draft (committing it to version control)">
        <i class="mdi mdi-checkbox-marked-circle-outline mdi-18px"></i> Approve Draft
      </button>
      <button [fxHide]="!isOperationAllowed([cmsOperations.AcceptDraftToLive])" mat-raised-button fxFlexOffset="10px" color="accent"
        [disabled]="!selectedNodeDrafts" [matMenuTriggerFor]="menu" *ngIf="!differentDrafts" matTooltip="Approve Draft overwrites live draft (queueing it for publish) and coder draft (committing it to version control)">
        <i class="mdi mdi-checkbox-marked-circle-outline mdi-18px"></i> Approve Draft
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item *ngFor="let draft of selectedDrafts" [disabled]="draft.draftType==draftType.LiveDraft" (click)="pushDraftToLive(draft)">{{draft.draftName}}</button>
      </mat-menu>
    </div>
  </div>
  <mat-sidenav-container fxLayout="column" fxFlex>
    <mat-sidenav #documentHistorySidenav fixedInViewport="true" [position]="sideNavPosition?'end':'start'" ngClass="node-history-sidenav-wrapper">
      <app-document-activity></app-document-activity>
    </mat-sidenav>
    <mat-sidenav #sidenav [position]="!sideNavPosition?'end':'start'" mode="over" ngClass="document-properties-wrapper">
      <div fxLayout="column">
        <mat-toolbar color="primary" fxFlex="50px">
          <h3 fxFlex>Document Properties</h3>
          <span (click)="sidenav.close()" ngClass="cursor-pointer">
            <i class="mdi mdi-arrow-right mdi-24px"></i>
          </span>
        </mat-toolbar>
        <div ngClass="document-properties">
          <app-tag-view [nodeDrafts]="nodeDrafts"></app-tag-view>
        </div>
      </div>
    </mat-sidenav>
    <div fxLayout="row" fxLayoutAlign="start stretch" fxFlexFill *ngIf="draftsFetched && nodeDrafts.length > 0 && tabs">
      <app-authoring-tabbed-view fxFlex [config]="tabs" [selectedTabIndex]="selectedTabIndex" [selectedNodeId]="selectedNodeId"
        [nodeDrafts]="nodeDrafts" [align]="'left'" [style.width.px]="isRightDivVisible?48:97" (explandCollapseEvent)="isRightDivVisible=!isRightDivVisible"
        fxLayout="column" (nodeDraftChange)="draftChange($event,'LEFT')" [fxHide]="!isLeftDivVisible"></app-authoring-tabbed-view>

      <app-authoring-tabbed-view fxFlex [config]="tabs" [selectedTabIndex]="selectedTabIndex" [selectedNodeId]="selectedNodeId"
        [nodeDrafts]="nodeDrafts" [align]="'right'" [style.width.px]="isLeftDivVisible?48:97" (explandCollapseEvent)="isLeftDivVisible=!isLeftDivVisible"
        fxLayout="column" (nodeDraftChange)="draftChange($event,'RIGHT')" [fxHide]="!isRightDivVisible"></app-authoring-tabbed-view>

      <div fxFlex="3%" fxLayout="column" fxFlexFill ngClass="sidenav-toggle" fxFlexOffset="15px">
        <div (click)="sideNavPosition = false;sidenav.open()" fxFlexOffset="10px" fxLayoutAlign="center start" ngClass="cursor-pointer">
          <i class="mdi mdi-arrow-left mdi-24px"></i>
        </div>
      </div>
    </div>
    <div *ngIf="!draftsFetched" fxFlex fxLayoutAlign="center center">
      <div class="loadingholder">
        <div class="middle"></div>
        <div class="logoicon logoloader"></div>
      </div>
    </div>
    <div *ngIf="draftsFetched && nodeDrafts.length<1" fxFlex fxLayoutAlign="center center">
      No Drafts Available
    </div>
  </mat-sidenav-container>
</div>
<div ngClass="blockAuthoringView" *ngIf="disableAuthoringView">
</div>
