<div fxLayout="column" class="comparison-wrapper" fxFlexFill>
  <div fxLayout="row" class="comparison-breadcrums">
    <div fxLayout="row">
      <span class="back-link cursor-pointer" (click)="backToAuthoringView()">
        <i class="mdi mdi-menu-left"></i> Back
      </span>
      <strong>Comparison Tool </strong>
    </div>
  </div>
  <div fxLayout="row" class="comparison-items">
    <div fxLayout="column" fxFlex="50%" class="filter-view" [class]="isSwap?'content-rhs':'content-lhs'">
      <app-comparison-tool-filter-view (onContentLoad)="loadContent($event)" [projectList]="projectList" [distributionList]="distributionListLeft"
        [nodeList]="nodeListLeft" [draftList]="draftListLeft" [selectedProjectId]="selectedProjectIdLeft" [selectedDistributionId]="selectedDistributionIdLeft"
        [selectedNodeId]="selectedNodeIdLeft" [selectedDraftId]="selectedDraftIdLeft" [isLeft]="true" [isProjectLoading]="isProjectLoading"></app-comparison-tool-filter-view>
    </div>
    <div fxLayout="column" fxFlex="50%" class="filter-view" [class]="isSwap?'content-lhs':'content-rhs'">
      <app-comparison-tool-filter-view (onContentLoad)="loadContent($event)" [projectList]="projectList" [distributionList]="distributionListRight"
        [nodeList]="nodeListRight" [draftList]="draftListRight" [selectedProjectId]="selectedProjectIdRight" [selectedDistributionId]="selectedDistributionIdRight"
        [selectedNodeId]="selectedNodeIdRight" [selectedDraftId]="selectedDraftIdRight" [isLeft]="false" [isProjectLoading]="isProjectLoading"></app-comparison-tool-filter-view>
    </div>
  </div>
  <div fxLayout="row" class="mergely-content">
    <div fxLayout="row" fxLayoutAlign="center center" class="overlay-mergely left" [fxHide]="selectedDraftIdLeft">
      <h4>Please select atleast one draft to compare or merge.</h4>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" class="overlay-mergely right" [fxHide]="selectedDraftIdRight">
      <h4>Please select atleast one draft to compare or merge.</h4>
    </div>
    <iframe [src]="mergelyUrl" id="mergely-iframe" width="100%" scrolling="no" class="mergely-iframe" seamless="seamless"></iframe>
  </div>
</div>