<div fxLayout="column">
  <mat-toolbar color="primary">
    <h3 fxFlex>View Draft</h3>
    <button mat-button mat-dialog-close>
      <i class="mdi mdi-close mdi-24px"></i>
    </button>
  </mat-toolbar>
  <mat-dialog-content mat-dialog-content fxLayout="column" fxLayoutAlign="start stretch" fxFlexFill>
    <mat-progress-bar *ngIf="isDataLoading"  ngClass="mt-0" mode="indeterminate"></mat-progress-bar>
    <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="15px" fxFlex="100" fxFlexFill slimScroll class="view-draft-wrapper">
      <div [fxHide]="isDataLoading" [innerHTML]="formatCodeContent(snapshotContent)" class="draft-content">

      </div>
    </div>
  </mat-dialog-content>
</div>