<div ngClass="draft-history-wrapper">
  <mat-accordion fxLayout="row" fxLayoutAlign="start end">
    <mat-expansion-panel [expanded]="true" fxFlexFill fxLayout="column">
      <mat-expansion-panel-header fxFlex="80px">
        <mat-panel-title fxFlex>
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" fxFlex>
            <div fxFlex fxLayout="column">
              <small ngClass="primary-text-color">Filter By Date &amp; Time:</small>
              <mat-form-field floatPlaceholder="never" ngClass="custom-input-field custom-select-field" matTooltip="Coming soon!">
                <mat-select placeholder="04/01/2018, 12:45pm to 12/01/2018, 10:45pm" disabled>
                  <mat-option>04/01/2018, 12:45pm to 12/01/2018, 10:45pm</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div fxFlex fxLayout="column">
              <small ngClass="primary-text-color">Filter By</small>
              <div fxLayout="row" fxLayoutGap="15px">
                <section fxLayout="row" fxLayoutGap="3%" fxLayoutAlign="start center">
                  <div fxLayout="column" fxFlex="80px">
                    <mat-checkbox color="primary" disabled matTooltip="Coming soon!">Valid</mat-checkbox>
                  </div>
                  <div fxLayout="column" fxFlex="80px">
                    <mat-checkbox color="primary" disabled matTooltip="Coming soon!">Invalid</mat-checkbox>
                  </div>
                </section>
                <button mat-raised-button color="primary" disabled matTooltip="Coming soon!">Filter</button>
              </div>
            </div>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
  </mat-accordion>
  <div ngClass="draft-history-loader" fxLayout="row" fxLayoutAlign="start stretch" *ngIf="isDraftHistoryInProgress">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <div ngClass="draft-history-container" fxFlexFill>
    <div [fxHide]="!isNewSnapShotCreated" fxLayoutAlign="center center">
      <span (click)="onScrollUp()" class="cursor-pointer">New Snapshot Added, Click to refresh</span>
    </div>
    <div ngClass="draft-history" appInfiniteScroll (scrolldown)="onScrollDown()" fxFlexFill slimScroll
      [fxHide]="!(draftHistoryList && draftHistoryList.length>0)">
      <mat-list ngClass="{{draft.isValid===2 ?'invalid-draft':'valid-draft'}}" fxLayout="row" fxLayoutAlign="start start" *ngFor="let draft of draftHistoryList"
        style="width:98%;">
        <mat-icon>
          <i class="mdi mdi-check-circle-outline mdi-24px"></i>
        </mat-icon>
        <mat-list-item fxFlex fxLayoutGap="2px" class="draft-history-content">
          <div class="left-view">
            <div class="profile-avatar">
              <div class="profile-short-name" *ngIf="!draft.profilePicUrl">
                {{getProfileShortName(draft)}}
              </div>
              <img *ngIf="draft.profilePicUrl" src="{{draft.profilePicUrl}}" ngClass="img-responsive w-100">

            </div>
          </div>
          <div class="right-view" fxLayoutGap="5px">
            <h4 mat-line class="h-date">
              <span>
                <span class="name">{{draft.firstName}} {{draft.lastName}} </span> {{draft.createdOn | relativeDate}}</span>
            </h4>
            <div class="diff-content" [innerHTML]="returnDiffHtml(draft.diff) |sanitizeHtml">
            </div>
          </div>
          <div ngClass="draft-extend-icons" fxLayout="row" fxLayoutGap="1px">
            <i class="mdi mdi-compare mdi-18px" title="coming soon"></i>
            <i class="mdi mdi-file mdi-18px" title="Create Draft" [fxHide]="!isOperationAllowed([cmsOperations.CreateDraftWithSnapshot])"
              (click)="openCreateDraftDialog(draft)"></i>
            <i class="mdi mdi-history mdi-18px" title="coming soon"></i>
            <i class="mdi mdi-arrow-expand mdi-18px" title="View Draft" [fxHide]="!isOperationAllowed([cmsOperations.ViewDraftSnapshot])"
              (click)="openViewDraftDialog(draft)"></i>
          </div>
        </mat-list-item>
      </mat-list>
      <!-- <label ngClass="history-period">04-Jan-18</label> -->
    </div>
  </div>
</div>
