<mat-list fxLayout="column" class="realtime-wrapper">
  <h2 ngClass="mb-10">Realtime Updates</h2>
  <mat-progress-bar *ngIf="isDataLoading"  ngClass="mt-0" mode="indeterminate"></mat-progress-bar>
  <div fxLayout="column" slimScroll ngClass="realupdates-scroll" appInfiniteScroll (scrolldown)="onScrollDown()" [fxHide]="!(realTimeUpdateList && realTimeUpdateList.length>0)">
    <mat-list-item fxFlex fxLayoutGap="2px" *ngFor="let item of realTimeUpdateList">
      <div class="left-view">
        <div class="profile-avatar">
          <div class="profile-short-name" *ngIf="!item.profilePicUrl">
            {{getProfileShortName(item)}}
          </div>
          <img *ngIf="item.profilePicUrl" src="{{item.profilePicUrl}}" ngClass="img-responsive w-100">
        </div>
      </div>
      <div class="right-view realtime-card" fxLayoutGap="5px">
        <h4 mat-line class="h-date">
            <span class="name">{{item.userName}} User Name</span> {{item.createdDate | relativeDate}}
        </h4>
        <div appCustomTooltip>
          <div class="oneline-ellipsis" [innerHTML]="item.content |sanitizeHtml"> </div>
          <div class="custom-tooltip-child" fxLayout="column" fxLayoutGap="3px" [innerHTML]="item.content |sanitizeHtml">
          </div>
        </div>

      </div>
    </mat-list-item>
  </div>
</mat-list>
