<mat-sidenav-container class="docworksLightTheme" fxFlexFill>
  <mat-sidenav #sidenav position="end" fixedTopGap="59px" fixedInViewport ngClass="notification-sidenav">
    <app-notification-sidebar></app-notification-sidebar>
  </mat-sidenav>
  <div ngClass="main-container-wrapper" fxFlexFill fxLayout="column" fxLayoutAlign="start stretch">
    <app-header></app-header>
    <div ngClass="content-wrapper" fxFlex fxFlexOffset="59px">
      <router-outlet></router-outlet>
      <div ngClass="global-icon docworksLightTheme">
        <a href="https://confluence.hq.unity3d.com/display/DOCS/Trying+the+system%2C+feedback+and+bugs" target="_blank" mat-raised-button color="warn">Report a Bug</a>
      </div>
    </div>
  </div>
</mat-sidenav-container>
