<div ngClass="authoring-tabview {{align}}-window" fxLayout="column" fxFlexFill>
  <div ngClass="authoring-tabview-header" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px" fxFlex="60px">
    <mat-tab-group (selectedIndexChange)="onTabChangeEvent($event)" [selectedIndex]="selectedTabIndex" fxFlex="65%">
      <mat-tab *ngFor="let tab of config" label="{{tab.title}}">
        <ng-template mat-tab-label>
          <button mat-raised-button matTooltip="View GDoc Errors" matTooltipPosition="right" (click)="openGDocErrorDialog()" ngClass="{{isDraftContentValid ? 'gdoc-validation gdoc-success' : 'gdoc-validation gdoc-error'}}"
            *ngIf="selectedTabIndex===0 && tab.title==='GDoc'">
            <i class="mdi mdi-menu-up"></i>
          </button>
          <div ngClass="tab-title">
            <span ngClass="tab-title-name">{{tab.title}}</span>
            <i class="tab-title-icon mdi mdi-24px mdi-{{tab.titleIcon}}" matTooltip="{{tab.title}}"></i>
          </div>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
    <form [formGroup]="draftsForm" fxFlex>
      <mat-form-field fxFlex floatPlaceholder="never" class="mat-behaviour-none">
        <mat-select (change)="onDraftChange()" [formControl]="draft" panelClass="authoring-draft-list-panel">
          <mat-select-trigger>
            {{ draft.value.draftName }}
          </mat-select-trigger>
          <div ngClass="authoring-draft-list-scroll">
            <div slimScroll ngClass="draft-list-slimscroll">
              <mat-option *ngFor="let draft of nodeDrafts" [value]="draft" ngClass="authoring-draft-list-wrapper">
                <mat-list ngClass="authoring-draft-lists">
                  <mat-list-item ngClass="authoring-draft-list">
                    <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="100" fxLayoutGap="10px">
                      <span ngClass="oneline-ellipsis" fxFlex>{{ draft.draftName }}</span>
                      <span fxFlex="35" fxLayout="row" fxLayoutGap="7px" fxLayoutAlign="start center">
                        <i class="mdi mdi-history mdi-18px"></i>
                        <small>12:15:55 . 12 Feb</small>
                      </span>
                      <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="90px">
                        <img matListAvatar src="../assets/img/avatar.png" matTooltip="avatar">
                        <img matListAvatar src="../assets/img/avatar.png" matTooltip="avatar">
                        <img matListAvatar src="../assets/img/avatar.png" matTooltip="avatar">
                      </div>
                    </div>
                  </mat-list-item>
                </mat-list>
              </mat-option>
            </div>
          </div>
        </mat-select>
        <mat-progress-bar mode="indeterminate" *ngIf="!nodeDrafts"></mat-progress-bar>
      </mat-form-field>
    </form>
    <div fxFlex="35px" class="expanded-icons">
      <button mat-button (click)="resize($event)">
        <i class="mdi mdi-arrow-{{align=='right' ? 'right' : 'left'}} mdi-24px" *ngIf="isExpanded"></i>
        <i class="mdi mdi-arrow-{{align=='right' ? 'left' : 'right'}} mdi-24px" *ngIf="!isExpanded"></i>
      </button>
    </div>
  </div>

  <div fxLayout="column" fxLayoutAlign="start stretch" ngClass="authoring-tabview-body">
    <div *ngIf="showSpinner" fxFlex fxLayoutAlign="center center" ngClass="spinner-authoring-view">
      <mat-spinner></mat-spinner>
    </div>
    <div [fxHide]="showSpinner" fxFlexFill>
      <div [fxShow]="currentTab.title==='GDoc'" fxFlexFill class="g-doc">
        <div *ngIf="gDocUrl" fxFlexFill>
          <iframe [src]="gDocUrl" width="100%" height="100%" scrolling="yes"></iframe>
        </div>
        <div *ngIf="!gDocUrl" fxFlexFill>
          {{content}}
        </div>
      </div>
      <div *ngIf="currentTab.title==='history'" fxFlexFill>
        <app-draft-history [selectedNodeId]="selectedNodeId" [align]="align" class="history-preview" [nodeDrafts]="nodeDrafts" [selectedDraftId]="draft.value.draftId"></app-draft-history>
      </div>
      <div [fxShow]="currentTab.title==='xml'" fxFlexFill>
        <div ngClass="g-doc-preview" slimScroll>
          {{content}}
        </div>
      </div>
      <div [fxShow]="currentTab.title==='.md'" fxFlexFill>
        <div ngClass="md-preview" slimScroll>
          <div [innerHTML]="content |sanitizeHtml" fxFlex></div>
        </div>
      </div>
      <div [fxShow]="currentTab.title==='HTML'" fxFlexFill>
        <div ngClass="html-preview" slimScroll>
          {{content}}
        </div>
      </div>
      <div [fxShow]="currentTab.title==='preview'" fxFlexFill>
        <iframe [src]="ufPreviewUrl" id="{{align}}_uf-preview-iframe" width="100%" height="100%" scrolling="yes" seamless="seamless"></iframe>
      </div>
    </div>
  </div>