<div ngClass="manage-tags-wrapper" fxLayout="column" fxLayoutAlign="start stretch">
  <mat-toolbar color="primary">
    <h3 fxFlex>Manage Tags</h3>
    <button mat-button mat-dialog-close>
      <i class="mdi mdi-close mdi-24px"></i>
    </button>
  </mat-toolbar>
  <form fxLayout="column" fxLayoutAlign="start stretch">
    <mat-dialog-content fxLayout="column" fxLayoutAlign="start stretch">
      <mat-list ngClass="" fxLayout="column">
        <h3 matSubheader>{{tagGroup.tagGroupName}}</h3>
        <h3 matSubheader fxLayout="row" fxLayoutAlign="space-between center">
          <div ngClass="custom-mat-input-wrapper" fxLayout="row" fxLayoutAlign="start center">
            <i class="mat-prefix mdi mdi-magnify mdi-24px"></i>
            <input type="search" [(ngModel)]="searchString" ngClass="form-control" name="searchString" placeholder="Search Tags">
          </div>
          <button ngClass="secondary-btn" mat-raised-button [fxHide]="!isOperationAllowed([cmsOperations.CreateTag])" (click)="createNewTag=true;newTagName='';refreshSelectedTag();">ADD TAG</button>
        </h3>
        <div fxLayout="column">
          <mat-list-item fxFlex *ngIf="createNewTag" fxFlexFill class="mt-5">
            <div ngClass="tag-editing" fxLayout="column" fxFlex fxLayoutGap="5px">
              <div ngClass="custom-mat-input-wrapper" fxLayout="row" fxLayoutAlign="start center" fxFlex>
                <input type="text" ngClass="form-control" maxlength="100" name="newTagName" [(ngModel)]="newTagName" (keyup)="checkValidName(newTagName)"
                  fxFlex>
                <i class="mat-suffix mdi mdi-check mdi-24px cursor-pointer" [fxShow]="isValidTagName && newTagName.length>0 && isOperationAllowed([cmsOperations.CreateTag])"
                  (click)="addNewTag();createNewTag=false"></i>
                <i class="mat-suffix mdi mdi-close mdi-24px cursor-pointer" (click)="createNewTag=false"></i>
                <small matSuffix>{{newTagName?.length||0}}/100</small>
              </div>
              <div class="mb-5" [fxShow]="(newTagName.length<1 || !isValidTagName)">
                <mat-error [fxShow]="newTagName.length<1">Tag Name is required</mat-error>
                <mat-error *ngIf="!isValidTagName">Tag Name already exists</mat-error>
              </div>
            </div>
          </mat-list-item>

          <div fxFlexFill slimScroll fxLayout="column" class="scroll-wrapper">
            <mat-list-item fxFlex *ngFor="let tag of tags | sort: 'tagName'| filter: 'tagName': searchString" class="mt-5">
              <div ngClass="tag-editing" fxLayout="row" fxLayoutAlign="space-between center" fxFlex>
                <div *ngIf="tag.tagId!=selectedTag.tagId" fxLayout="row" FxLayoutAlign="space-between center" fxFlex>
                  <span>{{tag.tagName}}</span>
                </div>
                <div *ngIf="tag.tagId==selectedTag.tagId" fxLayout="column" fxFlex fxLayoutGap="5px">
                  <div ngClass="custom-mat-input-wrapper" fxLayout="row" fxLayoutAlign="start center" fxFlex>
                    <input type="text" ngClass="form-control" maxlength="100" name="tagName" [(ngModel)]="selectedTag.tagName" (keyup)="checkValidName(selectedTag)"
                      fxFlex>
                    <i class="mat-suffix mdi mdi-check mdi-24px cursor-pointer" [fxShow]="isValidTagName && selectedTag.tagName.length>0 && isOperationAllowed([cmsOperations.CreateTag])"
                      (click)="editTag(); $event.stopPropagation();"></i>
                    <i class="mat-suffix mdi mdi-close mdi-24px cursor-pointer" (click)="refreshSelectedTag(); $event.stopPropagation();"></i>
                    <small matSuffix>{{selectedTag.tagName?selectedTag.tagName.length:0}}/100</small>
                  </div>
                  <div class="mb-5" [fxShow]="(selectedTag.tagName.length<1 || !isValidTagName)">
                    <mat-error [fxShow]="selectedTag.tagName.length<1">Tag Name is required</mat-error>
                    <mat-error *ngIf="!isValidTagName">Tag Name already exists</mat-error>
                  </div>
                </div>
                <mat-icon (click)="setSelectedTag(tag)" class="cursor-pointer" [fxShow]="tag.tagId!=selectedTag.tagId && isOperationAllowed([cmsOperations.CreateTag])">
                  <i class="mdi mdi-pencil mdi-24px"></i>
                </mat-icon>
                <mat-icon *ngIf="!tag.inProgress" (click)="deleteTag(tag)" class="cursor-pointer">
                  <i class="mdi mdi-delete mdi-24px"></i>
                </mat-icon>
                <mat-spinner *ngIf="tag.inProgress" style="float:right;" ngClass="tag-view-loader"></mat-spinner>
              </div>
            </mat-list-item>
          </div>
        </div>
      </mat-list>
    </mat-dialog-content>
  </form>
</div>
