<div ngClass="content-body-wrapper publish-wrapper" fxLayout="column" fxFlexFill fxLayoutAlign="start stretch">
  <div ngClass="content-header docworksDarkTheme" fxLayout="column" fxFlex="60px">
    <mat-toolbar color="primary" fxFlex="60px">
      <div ngClass="content-toolbar" fxLayout="row" fxFlexFill fxLayoutAlign="space-between stretch">
        <mat-tab-group fxFlexAlign="end" (selectedTabChange)="changeTab($event)">
          <mat-tab label="Publish Queue"></mat-tab>
          <mat-tab label="Publish History"></mat-tab>
        </mat-tab-group>
        <div ngClass="inner-page-search-wrapper" fxFlex="700px" fxFlexAlign="center">
          <div fxFlex fxLayoutAlign="stretch center">
            <div fxFlex fxFlexOffset="10px">
              <input type="Search" ngClass="form-control" placeholder="Search" [(ngModel)]="searchString" fxFlex>
            </div>
            <button mat-raised-button fxFlexOffset="5px">
              <i class="mdi mdi-magnify mdi-24px"></i>
            </button>
          </div>
        </div>
      </div>
    </mat-toolbar>
  </div>

  <div ngClass="content-body-wrapper" fxLayout="column" fxFlex="100">
    <div ngClass="content-body" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="15px" fxFlex="100" fxFlexFill>
      <mat-list fxLayout="column" fxFlexFill [fxHide]="isPublishQueue">
        <h3 matSubheader fxLayout="row" fxLayoutAlign="center center" fxFlex="50px">
          <span fxFlex="20%" fxLayoutAlign="left">
            Publish by
            <i class="mdi mdi-unfold-more-horizontal mdi-18px cursor-pointer"></i>
          </span>
          <span fxFlex="10%" fxLayoutAlign="center">
            Status
            <i class="mdi mdi-unfold-more-horizontal mdi-18px cursor-pointer"></i>
          </span>
          <span fxFlex="20%" fxLayoutAlign="left">
            Project Name
            <i class="mdi mdi-unfold-more-horizontal mdi-18px cursor-pointer"></i>
          </span>
          <span fxFlex="20%" fxLayoutAlign="left">
            Distribution
            <i class="mdi mdi-unfold-more-horizontal mdi-18px cursor-pointer"></i>
          </span>
          <span fxFlex="10%" fxLayoutAlign="left">
            Download Zip
            <i class="mdi mdi-unfold-more-horizontal mdi-18px cursor-pointer"></i>
          </span>
          <span fxFlex="20%" fxLayoutAlign="center">
            Publish Date
            <i class="mdi mdi-unfold-more-horizontal mdi-18px cursor-pointer"></i>
          </span>
        </h3>
        <div slimScroll fxFlexFill class="publish-history-container">
          <div *ngIf="isDataLoading" class="loadingholder">
            <div class="middle"></div>
            <div class="logoicon logoloader"></div>
          </div>
          <mat-list-item *ngFor="let item of publishHistoryArray | filter: 'projectName': searchString">
            <div fxLayout="row" fxLayoutAlign="center center" fxFlex>
              <span fxFlex="20%" class="oneline-ellipsis" title="{{item.publishedBy}}">{{item.publishedBy}}</span>
              <span fxFlex="10%" fxLayoutAlign="center">{{entityStatus[item.publishStatus]}}</span>
              <span fxFlex="20%" class="oneline-ellipsis" title="{{item.projectName}}">{{item.projectName}}</span>
              <span fxFlex="20%" class="oneline-ellipsis" title="{{item.distributionName}}">{{item.distributionName}}</span>
              <span fxFlex="10%" fxLayoutAlign="center">
                <a href="{{item.zipFileLink}}" target="_blank" *ngIf="item.publishStatus===entityStatus.Ok">
                  <i class="mdi mdi-cloud-download"></i>
                </a>
              </span>
              <span fxFlex="20%" fxLayoutAlign="center">{{(item.publishedDate | epocToDatetime) | date:'mediumDate'}}</span>

            </div>
          </mat-list-item>
        </div>
      </mat-list>
      <div [fxHide]="!isPublishQueue" fxLayout="row" fxLayoutGap="25px">
        <div fxLayout="column" fxFlex="55">
          <div ngClass="publish-project-list-header" fxLayout="row" fxLayoutAlign="space-around center" fxFlex="40px">
            <div fxFlex="10%" fxLayoutAlign="center">
              #
              <i class="mdi mdi-unfold-more-horizontal mdi-18px cursor-pointer"></i>
            </div>
            <div fxFlex="60%" fxLayoutAlign="center">
              Project Name
              <i class="mdi mdi-unfold-more-horizontal mdi-18px cursor-pointer"></i>
            </div>
            <div fxFlex="30%" fxLayoutAlign="center">
              No of Accept to Live
              <i class="mdi mdi-unfold-more-horizontal mdi-18px cursor-pointer"></i>
            </div>
          </div>
          <div fxLayout="row">
            <mat-progress-bar mode="indeterminate" *ngIf="isDataLoading"></mat-progress-bar>
          </div>
          <div *ngIf="!isDataLoading && publishQueueArray && publishQueueArray.length===0" fxFlexFill class="publish-queue-container">
            No record found.
          </div>
          <div slimScroll fxFlexFill class="publish-queue-container" [fxHide]="isDataLoading && !publishQueueArray && publishQueueArray.length===0">
            <mat-accordion ngClass="custom-mat-accordion">
              <mat-expansion-panel *ngFor="let item of publishQueueArray | filter: 'projectName': searchString; let i =index">
                <mat-expansion-panel-header>
                  <mat-panel-title fxFlex>
                    <div fxLayout="row" fxLayoutAlign="space-around center" fxFlex>
                      <div fxFlex="10%" fxLayoutAlign="center">{{i+1}}</div>
                      <div fxFlex="60%" fxLayoutAlign="center">{{item.projectName}}</div>
                      <div fxFlex="30%" fxLayoutAlign="center">{{getTotalLiveDistributionCount(item.distributions)}}</div>
                    </div>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list fxLayout="column" fxFlexFill>
                  <div matSubheader fxLayout="row" fxLayoutAlign="center center" fxFlex="35px">
                    <span fxFlex="10%" fxLayoutAlign="center">
                      #
                      <i class="mdi mdi-unfold-more-horizontal mdi-18px cursor-pointer"></i>
                    </span>
                    <span fxFlex="30%" fxLayoutAlign="center">
                      Distribution Name
                      <i class="mdi mdi-unfold-more-horizontal mdi-18px cursor-pointer"></i>
                    </span>
                    <span fxFlex="20%" fxLayoutAlign="center">
                      Accept to Live
                      <i class="mdi mdi-unfold-more-horizontal mdi-18px cursor-pointer"></i>
                    </span>
                    <span fxFlex="19%" fxLayoutAlign="center">
                      Deleted nodes
                      <i class="mdi mdi-unfold-more-horizontal mdi-18px cursor-pointer"></i>
                    </span>
                    <span fxFlex="21%" fxLayoutAlign="center">
                      Live drafts deleted
                      <i class="mdi mdi-unfold-more-horizontal mdi-18px cursor-pointer"></i>
                    </span>
                  </div>
                  <mat-list-item *ngFor="let distribution of item.distributions; let j=index" ngClass="cursor-pointer" [class]="distribution.distributionId===selectedDistributionId?'active':''"
                                 (click)=" selectedProjectId = item.projectId; selectedProject = item; getNodeListForLiveDraft(distribution); selectedDistributionId = distribution.distributionId; selectedDistributionTitle = item.projectName +' - '+ distribution.distributionName +' - '">
                    <div fxLayout="row" fxLayoutAlign="center center" fxFlex>
                      <span fxFlex="10%" fxLayoutAlign="center">{{j+1}}</span>
                      <span fxFlex="30%" fxLayoutAlign="center">{{distribution.distributionName}}</span>
                      <span fxFlex="20%" fxLayoutAlign="center">{{distribution.liveDraftsToBePublishedCount}}</span>
                      <span fxFlex="19%" fxLayoutAlign="center">{{distribution.deletedNodeCount}}</span>
                      <span fxFlex="21%" fxLayoutAlign="center">{{distribution.deletedLiveDraftCount}}</span>
                    </div>
                  </mat-list-item>
                </mat-list>
              </mat-expansion-panel>
            </mat-accordion>

          </div>
        </div>
        <div fxLayout="column" fxFlex="45" ngClass="publish-preview" fxLayoutAlign="start stretch">
          <mat-toolbar color="primary" fxFlex="40px">
            <h3 class="oneline-ellipsis" title="{{selectedDistributionTitle}}">{{selectedDistributionTitle}} Live Documents</h3>
          </mat-toolbar>
          <mat-progress-bar mode="indeterminate" ngClass="margin-top0" *ngIf="isLiveDraftDataLoading"></mat-progress-bar>
          <div ngClass="publish-preview-body" fxFlex="100" fxLayout="column" [fxHide]="!(liveDraftNodeArray && liveDraftNodeArray.length>0)" fxLayoutGap="10px">

            <div slimScroll fxFlexFill class="publish-preview-container">
              <mat-list role="list">
                <mat-list-item class="mb-10">
                  <input type="Search" ngClass="form-control" placeholder="Search" [(ngModel)]="filterNodes" (ngModelChange)="checkIndeterminate()" fxFlex>
                  <mat-checkbox class="ml-10" [(ngModel)]="selectAllNodes" [(indeterminate)]="indeterminate" (click)="selectAll()" labelPosition="before"> Select All</mat-checkbox>
                </mat-list-item>
                <mat-list-item *ngFor="let item of liveDraftNodeArray | filter: 'title': filterNodes" ngClass="publishList-{{publishNodeOperation[item.documentOperation].class}}">
                  <div fxLayout="row" fxLayoutAlign="center center" fxFlex>
                    <span fxFlex="100%" class="oneline-ellipsis" title="{{item.title}}">
                      {{item.title}}
                      <i *ngFor="let operation of item.documentOperationList" title="{{publishNodeOperation[operation.documentOperation].title}}" class="mdi mdi-{{publishNodeOperation[operation.documentOperation].icon}}"></i>
                    </span>
                    <mat-checkbox [(ngModel)]="item.isSelected" (change)="checkIndeterminate()"></mat-checkbox>
                  </div>
                </mat-list-item>
              </mat-list>
            </div>
            <mat-divider></mat-divider>
            <div ngClass="publish-list-legend mb-20" fxLayoutAlign="end center" fxLayoutGap="25px" fxLayout="row">
              <div fxFlex fxLayout="row" fxLayoutWrap fxLayoutGap="3">
                <span fxFlex="47"><i class="mdi mdi-tag-plus"></i> Tags Added</span>
                <span fxFlex="47"><i class="mdi mdi-tag-remove"></i> Tags Removed</span>
                <span fxFlex="47"><i class="mdi mdi-delete-sweep"></i> Live draft deleted</span>
                <span fxFlex="47"><i class="mdi mdi-file-tree"></i> TOC path changed</span>
                <span fxFlex="47"><i class="mdi mdi-delete-circle"></i> Node deleted</span>
                <span fxFlex="47"><i class="mdi mdi-pencil-box-outline"></i> Content Modified</span>
                <span fxFlex="47"><i class="mdi mdi-pencil-circle-outline"></i> Rename Short Title</span>
                <span fxFlex="47"><i class="mdi mdi-pencil-box-outline"></i> Rename File Name</span>
              </div>
              <div fxFlex="200px" *ngIf="liveDraftNodeArray.length>0" [fxHide]="!checkAccess(selectedProject, [cmsOperations.PublishDistribution])">
                <button mat-raised-button color="primary" (click)="publishConfiguration()" [disabled]="isPublishDistributionInProgress">
                  <div fxLayout="row" fxLayoutAlign="center center">
                    <i class="mdi mdi-upload mdi-24px"></i>
                    <span>Publish Configuration</span>
                  </div>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
