<p-contextMenu #treeviewContextMenu [model]="getContextMenu()" class="context-menu-top" [fxHide]="selectedProject.typeOfContent==documentationType.ScriptRef || !showContextMenu()"></p-contextMenu>

<p-contextMenu #emptyParentContextMenu [model]="contextMenuForDiv" class="context-menu-top" [fxHide]="selectedProject.typeOfContent==documentationType.ScriptRef || !showContextMenu()"></p-contextMenu>

<div *ngIf="!filteredNodes && isTreeviewLoading" class="loadingholder">
  <div class="middle"></div>
  <div class="logoicon logoloader"></div>
</div>
<div *ngIf="filteredNodes" fxFlexFill fxLayout="column" fxLayoutAlign="start stretch">
  <div class="tree-search" fxLayout="row" fxLayoutAlign="space-between center" fxFlex="60px">
    <span fxFlex fxFlexOffset="10px" ngClass="custom-form-field" fxLayoutAlign="space-between center">
      <input type="search" fxFlex [(ngModel)]="searchText" (ngModelChange)="searchTree()" placeholder="Search Documents..." />
      <i class="mdi mdi-magnify mdi-24px"></i>
    </span>
    <span ngClass="cursor-pointer" (click)="filterNodesDialog()" fxFlex="20px" fxFlexOffset="10px">
      <i fxFlex class="mdi mdi-tune mdi-24px"></i>
    </span>
    <span ngClass="cursor-pointer" (click)="selectTagGroupsDialog()" fxFlex="20px" fxFlexOffset="10px">
      <i fxFlex class="mdi mdi-tag mdi-24px"></i>
    </span>
  </div>
  <div fxLayout="column" ngClass="tree-body" fxFlex="calc(100% - 60px)">
    <div fxLayout="column" ngClass="tree-node-list-wrapper" fxFlex="70">
      <p-tree #expandingTree [value]="filteredNodes" fxLayout="row" selectionMode="multiple" [(selection)]="selectedNodes" [draggableNodes]="isOperationAllowed([cmsOperations.ChangeNodeLocation])"
        [droppableNodes]="isOperationAllowed([cmsOperations.ChangeNodeLocation])" (onNodeSelect)="onNodeSelect($event)" (onNodeUnselect)="nodeUnselect($event)"
        (onNodeDrop)="nodeDropComplete($event)" fxFlex="0 0 auto" [contextMenu]="treeviewContextMenu" (onNodeCollapse)="nodeCollapse($event)"
        (onNodeExpand)="nodeExpand($event)">
        <ng-template let-node pTemplate="default" width="100%">
          <div *ngIf="node.data.documentId!==updatingNodeId||!node.data.updateInProgress">
            <span ngClass="{{selectedNodeId==node.nodeId ? 'bold' : ''}}">{{node.label}}</span>
            <span *ngFor="let tagGroup of node.tagGroups">
              <mat-chip *ngFor="let tag of tagGroup.tags" [ngStyle]="{'background-color': tagGroup.colour }">
                {{tag.tagName}}
                <span *ngIf="tagGroup.displayGroupName">({{tagGroup.tagGroupName}})</span>
              </mat-chip>
            </span>
          </div>
          <div *ngIf="node.data.updateInProgress && node.data.documentId===updatingNodeId" fxLayout="column" ngClass="update-tree-node">
            <div fxLayout="row" fxLayoutAlign="spacebetween center">
              <input matInput placeholder="Short Title" name="shortTitle" autofocus maxlength="100" [(ngModel)]="node.label" required>
              <small matSuffix>{{node.label?node.label.length:0}}/100</small>
              <div ngClass="tag-handler-icons" fxLayout="row">
                <button mat-raised-button [disabled]="!(node.label.length>0)" (click)="updateShortTitle(); updatingNodeId=''; $event.stopPropagation();">
                  <i class="mdi mdi-check mdi-24px"></i>
                </button>
                <button mat-raised-button (click)="node.data.updateInProgress=false;updatingNodeId=''; $event.stopPropagation();node.label=oldNodeName;oldNodeName='';">
                  <i class="mdi mdi-close mdi-24px"></i>
                </button>
              </div>
            </div>
            <mat-error *ngIf="!(node.label.length>0)">short title is required</mat-error>
          </div>
        </ng-template>
      </p-tree>
      <div ngClass="add-parent-node" (contextmenu)="emptyParentContextMenu.show($event)" fxFlex>
      </div>
    </div>
    <hr>
    <p-tree ngClass="orphan-node-list-wrapper" *ngIf="orphanNodes&&orphanNodes.length>0" #orphanTree [value]="orphanNodes" fxFlex="30"
      fxLayout="row" selectionMode="single" [(selection)]="selectedOrphanNode" [draggableNodes]="true" [droppableNodes]="false"
      fxFlexFill>
    </p-tree>
    <div *ngIf="treeNodeOperationInProgress" ngClass="tree-nodeOperationInProgress"></div>
  </div>
</div>
