<div ngClass="content-body" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="15px" fxFlex>
  <mat-list fxLayout="column" fxFlex="100" fxLayoutAlign="start stretch">
    <div ngClass="docworksDarkTheme content-title">
      <mat-toolbar fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="start center">
        <div fxFlex>Manage Admins</div>
        <div ngClass="inner-page-search-wrapper" fxFlex="300px" fxLayout="column" fxLayoutAlign="flex-end stretch" [fxHide]="!checkAccess(selectedProject,allowedCmsOperations)">
          <div fxFlex="37px" fxLayoutAlign="stretch center" fxLayout="row">
            <input type="Search" ngClass="form-control" [(ngModel)]="filterString" placeholder="Type to Filter" fxFlex>
            <button [matMenuTriggerFor]="matMenu" mat-raised-button color="primary" (click)="getMatchingRecords()">
              <i class="mdi mdi-magnify mdi-18px"></i>
            </button>
          </div>
          <mat-progress-bar *ngIf="!recordsFetched" ngClass="mt-0" mode="indeterminate" style="margin-bottom:0!important"></mat-progress-bar>
        </div>

        <mat-menu #matMenu="matMenu" xPosition="before" yPosition="below" [overlapTrigger]="false">
          <div fxLayout="column" fxFlex>
            <div ngClass="manage-admin-search-menu" *ngFor="let user of filteredUsers" fxLayout="row" fxLayoutAlign="space-between center"
              fxLayoutGap="10px" fxFlex>
              <span fxFlexOffset="15px">{{user.firstName}} {{user.lastName}}</span>
              <span>
                <button *ngIf="!user.inProgress" mat-raised-button color="primary" (click)="user.inProgress=true;addAdmin(user)">Add
                  <i class="mdi mdi-account-plus"></i>
                </button>
                <mat-spinner *ngIf="user.inProgress" fxFlex="30px" ngClass="tag-view-loader" fxLayoutAlign="end"></mat-spinner>
              </span>
            </div>
          </div>
        </mat-menu>
      </mat-toolbar>
    </div>
    <div ngClass="inner-page-search-wrapper">
      <div fxLayout="row" fxLayoutAlign="end end">
        <input type="Search" ngClass="form-control" [(ngModel)]="searchString" placeholder="Type to Search" fxFlex="50">
      </div>
    </div>
    <h3 matSubheader fxLayout="row" fxLayoutAlign="center center" fxFlex="50px">
      <span fxFlex="20%" fxLayoutAlign="left">Name
        <i class="mdi mdi-unfold-more-horizontal mdi-18px cursor-pointer"></i>
      </span>
      <span fxFlex="35%" fxLayoutAlign="left">Email
        <i class="mdi mdi-unfold-more-horizontal mdi-18px cursor-pointer"></i>
      </span>
      <span fxFlex="25%" fxLayoutAlign="left">Added by
        <i class="mdi mdi-unfold-more-horizontal mdi-18px cursor-pointer"></i>
      </span>
      <span fxFlex="15%" fxLayoutAlign="left">Added on
        <i class="mdi mdi-unfold-more-horizontal mdi-18px cursor-pointer"></i>
      </span>
      <div fxFlex="5%" fxLayoutAlign="center">&nbsp;</div>
    </h3>
    <div fxLayout="column" fxLayoutAlign="start stretch" slimScroll ngClass="system-dashboard-scroll" *ngIf="adminDataFetched">
      <mat-list-item *ngFor="let admin of assignedAdmins |  filter: 'firstName': searchString">
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex>
          <span fxFlex="20%" fxLayoutAlign="left" class="oneline-ellipsis  mr-10" title="{{admin.firstName}} {{admin.lastName}}">{{admin.firstName}} {{admin.lastName}}</span>
          <span fxFlex="35%" fxLayoutAlign="left" class="oneline-ellipsis mr-10" title="{{admin.emailId}}">{{admin.emailId}}</span>
          <span fxFlex="25%" fxLayoutAlign="left" class="oneline-ellipsis  mr-10" title="{{admin.assignedBy}}">{{admin.assignedBy}}</span>
          <span fxFlex="15%" fxLayoutAlign="left" class="oneline-ellipsis  mr-10" title="{{admin.assignedOn | epocToDatetime | date : mediumDate}}">{{admin.assignedOn | epocToDatetime | date : mediumDate}}</span>
          <span fxFlex="5%" fxLayoutAlign="center" [fxHide]="!checkAccess(selectedProject,allowedCmsOperations)">
            <i class="mdi mdi-delete" *ngIf="!admin.inProgress" (click)="admin.inProgress=true;removeAdmin(admin)"></i>
            <mat-spinner fxFlex="30px" *ngIf="admin.inProgress" ngClass="tag-view-loader" fxLayoutAlign="end"></mat-spinner>
          </span>
        </div>
      </mat-list-item>
    </div>
    <div *ngIf="!adminDataFetched" class="loadingholder">
      <div class="middle"></div>
      <div class="logoicon logoloader"></div>
    </div>
  </mat-list>
</div>
