<mat-list fxLayout="column" class="personal-updates-wrapper">
    <h2 ngClass="mb-10">Personal Updates</h2>
    <mat-progress-bar fxLayout="row" fxLayoutAlign="start stretch" mode="indeterminate" *ngIf="isDataLoading"></mat-progress-bar>
    <div fxLayout="column" slimScroll ngClass="personal-updates-scroll" appInfiniteScroll (scrolldown)="onScrollDown()" [fxHide]="!(personalUpdateList && personalUpdateList.length>0)">
      <mat-list-item fxFlex fxLayoutGap="2px" *ngFor="let item of personalUpdateList">
        <div class="left-view">
          <div class="profile-avatar">
            <div class="profile-short-name" *ngIf="!item.profilePicUrl">
              {{getProfileShortName(item)}}
            </div>
            <img *ngIf="item.profilePicUrl" src="{{item.profilePicUrl}}" ngClass="img-responsive w-100">
          </div>
        </div>
        <div class="right-view" fxLayoutGap="5px">
          <h4 mat-line class="h-date">
            <span>
              <span class="name">{{item.userName}} </span>{{item.created}} </span>
          </h4>
          <div appCustomTooltip>
            <div class="oneline-ellipsis" [innerHTML]="item.content |sanitizeHtml"> </div>
            <div class="custom-tooltip-child" fxLayout="column" fxLayoutGap="3px"  [innerHTML]="item.content |sanitizeHtml">
            </div>
          </div>
        </div>
      </mat-list-item>
    </div>
  </mat-list>